<header class="py-3 bg-dark">
    <div class="container d-flex align-items-center">
        <img src="{{ asset('build/images/logo.svg') }}" alt="Logo" height="50">
        <h3 class="text-white lh-base mb-0 ms-4">{{ app_name }}</h3>
    </div>
</header>
