<div class="mt-4 legend">
    <div class="container caption">
        <div class="row align-items-center">
            <div class="col-3 offset-1"><hr></div>
            <div class="col-4"><h2 class="pt-3 pb-3">Legenda</h2></div>
            <div class="col-3"><hr></div>
        </div>

        <span class="text">Na mapie Gminy Rzezawa wyświetlane są informacje o stanie jakości powietrza na podstawie pomiarów stężenia pyłów zawieszonych PM10,
            zmierzonych czujnikami zamontowanymi w zaznaczonych lokalizacjach. Pomiary wykonywane są co 6 minut a na mapie wyświetlana jest uśredniona wartość
            z ostatniej godziny. Kolory i zakresy dla stężeń pyłów PM10 ustalono zgodnie z wymogami Głównego Inspektoratu Ochrony Środowiska.
        </span>
        <div class="table mt-4 row">
            <div class="col-3 text-center range">
                <span>0-20</span>
                <span>21-50</span>
                <span>51-80</span>
                <span>81-110</span>
                <span>111-150</span>
                <span>>151</span>
            </div>
            <div class="col-8 text-center description">
                <span>Jakość powietrza - ŚWIETNA</span>
                <span>Jakość powietrza - DOBRA</span>
                <span>Jakość powietrza - ŚREDNIA</span>
                <span>Jakość powietrza - NIEZDROWA</span>
                <span>Jakość powietrza - ZŁA</span>
                <span>Jakość powietrza - FATALNA</span>
            </div>
            <div class="col-1 text-center color">
                <span style="background: linear-gradient(225deg, #50d08b, #00b050 50%);">&nbsp;</span>
                <span style="background: linear-gradient(225deg, #ffff90, #ffff00 50%);">&nbsp;</span>
                <span style="background: linear-gradient(225deg, #fad35d, #ffc000 50%);">&nbsp;</span>
                <span style="background: linear-gradient(225deg, #ff7070, #ff0000 50%);">&nbsp;</span>
                <span style="background: linear-gradient(225deg, #cf4f4f, #aa1e1e 50%);">&nbsp;</span>
                <span style="background: linear-gradient(225deg, #ae22ae, #8c008c 50%);">&nbsp;</span>
            </div>
        </div>
        <div class="row text-center">
            <span class="col-12 mt-4 mb-4"><h4 class="pb-2">W Polsce obowiązują poniższe poziomy informowania i poziomy alarmowe:</h4>
                Stężenie PM10 < 50µg/m<sup>3</sup> – DOPUSZCZALNA NORMA<br>
                Stężenie PM10 > 100µg/m<sup>3</sup> – POZIOM INFORMOWANIA<br>
                Stężenie PM10 > 150µg/m<sup>3</sup> – POZIOM ALARMOWY<br>
            </span>
        </div>
    </div>
</div>
