<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ app_name }}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
            <!-- Top Navigation -->
            {% include 'Admin/nav.html.twig' %}

            <!-- Top Navigation -->
            {% for message in app.flashes('message') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <!-- Body -->
            {% block body %}
            {% endblock %}

            <!-- Footer -->
            {% include 'Admin/footer.html.twig' %}
    </body>
</html>
