{% extends 'Admin/base.html.twig' %}
{% block title %}{{ app_name }} - {{ 'ui.user.admin.label'|trans }}{% endblock %}

{% block body %}
    <div id="app-admin-index" class="container text-center">
        <h1>{{ 'ui.user.admin.content'|trans }}</h1>
    </div>
{% endblock %}
