@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import 'offcanvas';
@import 'bootstrap';
@import 'legend.scss';
@import 'map.scss';
@import 'city_map.scss';

body {
  font-family: "Poppins", sans-serif!important;
}

a {
  color: #ffffff!important;
  text-decoration: none!important;

  &:hover, &:active {
    text-decoration: none!important;
    color: #dddddd!important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

#top-menu {
  gap: 1rem;
}

#app-login {
  form {
    max-width: 600px;
  }
}

#app-frontpage-index {
  background: #222222;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  font-weight: 500;
  font-size: 2.5rem;
}

#app-admin-index {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 75vh;
  color: #111111;
  font-weight: 500;
  font-size: 2.5rem;
}
