.map {
  &-shadow {
    transition: filter 1.5s;
    filter: drop-shadow(5px 5px 5px #5d7382);

    &:hover {
      filter: drop-shadow(9px 9px 9px #7a8e9b);
    }
  }

  &-color {
    transition: filter 1.5s, transform 1.5s;
    filter: sepia(0.15);

    &:hover {
      filter: sepia(0.35);
      transform: scale(1.005);
    }
  }

  &-image {
    transition: filter 1.5s;
    max-height: 800px;
    max-width: 960px;
  }

  &-label-container {
    transition: opacity 1s, background-color 1.5s, color 1.5s, transform 1.5s;
    transform: scale(1);
    &:hover {
      transform: scale(1.4)!important;
    }
  }

  [data-map]:hover .map-label-container {
    cursor: pointer;
    transform: scale(1.2);
  }

  &-label {
    transition: background-color 1.5s, color 1.5s;
    background: #154859;
    color: #ffffff;
    border-radius: 0.25rem 0.25rem;
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 0.15rem 0.35rem;
    border-top: 1px solid #495b65;
    border-left: 1px solid #495b65;
    border-right: 1px solid #495b65;
    border-bottom: 1px solid #495b65;
    filter: drop-shadow(4px 3px 0px #000000);

    &:hover {
    }
  }

  .map-label-container:hover .map-label {
    color: #062731;
    background: #eefff8;
  }

  &-marker{
    transition: opacity 1s, background-color 1.5s, color 1.5s, transform 1.5s, margin-top 1.5s;
    background: #333333;
    border-radius: 0 0.25rem 0.25rem 0;
    padding: 0.15rem 0.35rem;
    border-left: 1px solid #154859;
    border-right: 1px solid #154859;
    border-bottom: 1px solid #154859;
    border-bottom: 1px solid #154859;
    width: 20px;
    height: 20px;
    z-index: 10;
    filter: drop-shadow(3px 3px 1px #000000bb);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    &.green {
      background: #22720b;
    }
    &.yellow {
      background: #ffdc00;
    }
    &.orange {
      background: #ff9900;
    }
    &.red {
      background: #dc0d0d;
    }
    &.claret {
      background: #720606;
    }
    &.violet {
      background: #6e0579;
    }
  }
}

.settings {
  &-map-image {
    &-thumb {
      max-height: 800px;
      max-width: 100%;
    }
  }
}


@media (max-width: 960px) {
  .map {
    overflow-x: auto;
    padding: 3rem;
    &-container {
      width: 100%;
    }
  }
}
